@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,300;0,400;0,600;1,400;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    color: #3a6cf4;
    margin-bottom: 40px;
}

.singal-card {
    background-color: white;
    width: 22em;
    box-shadow: 0px 5px 25px rgba(1 1 1 / 25%);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    transition: 0.5s;
}


/*start header section */

header {
    background-color: rgb(243, 243, 243);
    position: fixed;
    z-index: 99;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.profile-logo {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
}

.navigations a {
    color: #2b2b2b;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 20px;
    text-decoration: none;
}

@media (max-width:767px) {
    .navigations a {
        display: none;
    }
}

.navigations a:hover {
    color: #E84F34;
}


/* end header section */

section {
    padding: 100px 100px;
}


/* start main-heading */

.main-heading {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-heading::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.829);
    z-index: -1;
}

.main-heading h2 {
    color: white;
    font-size: 1.6em;
    font-weight: 500;
}

.main-heading h2 span {
    display: inline-block;
    margin: 10px;
    color: #3a6cf4;
    font-weight: 700;
    font-size: 1.7em;
    z-index: 20;
}

.main-heading h3 {
    color: white;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-heading .view-projects-btn {
    color: white;
    text-decoration: none;
    background-color: #3a6cf4;
    font-weight: 700;
    display: inline-block;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: 0.5s ease;
}

.main-heading .view-projects-btn:hover {
    background-color: blue;
    transform: scale(1.1, 1.1);
}

.main-heading .social-icons a {
    color: white;
    padding-right: 30px;
    font-size: 30px;
}


/* end main-heading */


/* start services */

title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    color: #3a6cf4;
    margin-bottom: 40px;
}

.cards .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards .content .singal-card:hover {
    transform: scale(1.1);
}

.cards .content .singal-card .icons {
    font-size: 70px;
    color: #3a6cf4;
    text-align: center;
}

.cards .content .singal-card .info {
    text-align: center;
}

.cards .content .singal-card .info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 15px;
}

.cards .content .singal-card .info p {
    line-height: 1.3;
    color: #2b2b2b;
    font-size: 1.1em;
}


/* end main-heading */


/* start projects */

.projects {
    background-color: #000016;
}

.projects .content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects .content .pro-card {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s;
}

.projects .content .pro-card:hover {
    transform: scale(1.1);
}

.projects .content .pro-card:hover .pro-image {
    opacity: 0.85;
}

.projects .content .pro-card .pro-image img {
    width: 100%;
}

.projects .content .pro-card .pro-info {
    padding: 15px;
}

.projects .content .pro-card .pro-category {
    font-size: 0.9em;
    color: #2b2b2b;
}

.projects .content .pro-card .pro-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
}

.projects .content .pro-card .pro-title .view-on-github {
    text-decoration: none;
    color: #3a6cf4;
}

.projects .content .pro-card .pro-title .view-on-github:hover {
    color: #8507fc;
}


/* end projects */


/* start contact */

.contact .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact .content .singal-card:hover {
    transform: scale(1.1);
}

.contact .icons {
    font-size: 4.5em;
    color: #3a6cf4;
    text-align: center;
}

.contact .info h3 {
    color: black;
    text-align: center;
}

.contact .info p {
    font-size: 1.3em;
    text-align: center;
}


/* end contact */


/* start footer */

.footer {
    background-color: #000016;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer .social-icons a {
    color: white;
    padding-right: 30px;
    font-size: 20px;
}

footer .footer-title {
    font-size: 1.3em;
    font-weight: 700;
}

footer .footer-title span {
    color: #3a6cf4;
}